<style>
    h2 {
      text-align: center;
      padding: 20px 0;
    }
  
    .table-bordered {
      border: 1px solid #ddd !important;
    }
  
    table caption {
      padding: .5em 0;
    }
  
    @media screen and (max-width: 767px) {
      table caption {
        display: none;
      }
    }
  
    .p {
      text-align: center;
      padding-top: 140px;
      font-size: 14px;
    }
  
    .table-responsive {
      height: 600px; /* Adjust this height as needed */
      overflow-y: auto;
    }
  
    .filter-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    .filter-container input {
      padding: 5px;
      width: 200px;
    }
  
    .total-count {
      font-weight: bold;
    }
  </style>
  
  <title>All process</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <h2>All cluster processors</h2>
  <div class="container" hx-get="process-list" hx-trigger="load"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
  document.body.addEventListener('htmx:afterSwap', function(event) {
    switch(event.detail.requestConfig.path) {
      case "process-kill":
        toastr.success('Process removed from cluster process list!', 'Removed'); 
        break;
    }
  });
</script>